@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@500;700&family=Rubik:wght@300;500;700&display=swap');

$font-inknut: 'Inknut Antiqua', serif;

$font-rubik: 'Rubik', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    list-style: none;
}  
.gs_reveal {
    // GSAP plugin
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
  }

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.showcase-area{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    & .header{
        display: flex;
        height: 100px;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        padding: 30px;
        & .btn-twitter{
            position: relative;
            font-family: $font-rubik;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #fff;
            padding: 5px 10px;
            background-color: #0399c7;
            border-radius: 10px;
            animation-name: shake;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            cursor: pointer;
        }
    }
    &-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 600px;
        margin-top: 70px;
        z-index: 1;
        & .buttons{
            display: flex;
            & .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                min-width: 185px;
                margin-right: 30px;
                border-radius: 25px;
                font-family: $font-rubik;
                font-weight: 500;
                font-size: 15px;
                cursor: pointer;
                transition: ease-in-out all .3s;
                background-color: #F03B3F;
                color: #fff;
                border: solid 1px transparent;
                padding: 5px;
                &:hover{
                    background-color:#fff;
                    color: black;
                    border: solid 1px #F03B3F;
                }
            }
        }
    }
    &-title{
        font-family: $font-inknut;
        font-weight: 500;
        font-size: 70px;
        line-height: 75px;
        color: #000;
        margin-bottom: 40px;
    }
    &-desc{
        max-width: 100%;
        font-family: $font-rubik;
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        color: #000;
        margin-bottom: 30px;
        text-shadow: 0.4px 0 #000;
    }
    & .custom-shape-divider-bottom-1630675188 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }    
    & .custom-shape-divider-bottom-1630675188 svg {
        position: relative;
        display: block;
        width: calc(143% + 1.3px);
        height: 123px;
    }
    
    & .custom-shape-divider-bottom-1630675188 .shape-fill {
        fill: #FFFFFF;
    }
}

.promotion-area{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 50px;
    margin-bottom: 100px;
    &-title{
        max-width: 80%;
        position: relative;
        font-family: $font-inknut;
        font-weight: 500;
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
        margin-bottom: 40px;
        border-bottom: 1px solid black;
    }
    &-desc{
        width: 90%;
        text-align: center;
        font-family: $font-rubik;
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        color: #000;
    }
}

.picture-area{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAE9A1;
    padding-bottom: 150px;
    margin-bottom: 50px;
    & .custom-shape-divider-top-1630675062 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    & .custom-shape-divider-top-1630675062 svg {
        position: relative;
        display: block;
        width: calc(143% + 1.3px);
        height: 83px;
        transform: rotateY(180deg);
    }
    
    & .custom-shape-divider-top-1630675062 .shape-fill {
        fill: #FFFFFF;
    }
    &-title{
        font-family: $font-inknut;
        font-weight: 500;
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
        color: #000;
        margin-top: 170px;
    }
    & .pictures{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        row-gap: 30px;
        & .picture{
            overflow: hidden;
            height: 370px;
            width: calc(25% - 10px);
            background-color: #fff;
            color: #000;
            position: relative;
            border-radius: 5px;
            & img{
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
            &-detail{
                padding: 10px;
                & .picture-name{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    & .name{
                        font-family: $font-rubik;
                        font-weight: 500;
                        font-size: 15px;
                        color: #000;
                    }
                    & a{
                        font-family: $font-rubik;
                        font-weight: 500;
                        font-size: 16px;
                        color: #fff;
                        padding: 3px 5px;
                        background-color: #2196f3;
                        border-radius: 5px;
                        transition: ease-in-out .3s;
                        &:hover{
                            background-color: #000;
                        }
                    }
                }
                & .picture-desc{
                    font-family: $font-rubik;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 26px;
                    width: 90%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            &[data-badge-value=""] {
                &::after {
                    display: none;
                }
            }
            &:after {
                content: attr(data-badge-value);
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 20px;
                right: -35px;
                height: 35px;
                width: 150px;
                background-color: #F03B3F;
                transform: rotate(45deg);
                font-weight: 400;
                font-size: 16px;
                font-family: $font-rubik;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}

.faq{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    margin-bottom: 50px;
    & .faq-content {
        max-width: 700px;
        padding-left: 20px;
        padding-right: 20px;
    }
    & .custom-shape-divider-bottom-1630926011 {
        position: absolute;
        top: -150px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    & .custom-shape-divider-bottom-1630926011 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 100px;
    }
    
    & .custom-shape-divider-bottom-1630926011 .shape-fill {
        fill: #fff;
    }
    &-area-title{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    & .question{
        display: flex;
        justify-content: center;
        font-family: $font-rubik;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 10px;
        text-align: center;
    }
    & .reply{
        display: flex;
        justify-content: center;
        font-family: $font-rubik;
        font-weight: 300;
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 30px;
        text-align: center;
    }
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    & a{
        &:not(:last-child){
            margin-right: 30px;
        }
        & svg{
            height: 50px;
            width: 50px;
        }
    }
}
.copyright {
    text-align: center;
    font-family: $font-rubik;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
    position: relative;
    z-index: 1;
}

@keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
}
@media (max-width: 576px){
    .container{
        width: 350px;
    }
    .showcase-area{
        height: 100%;
        padding-bottom: 150px;
        & .header{
            padding: 10px;
        }
        &-title{
            font-size: 45px;
        }
        &-desc{
            font-size: 16px;
        }
        &-group{
            width: 350px;
            & .buttons{
                display: flex;
                justify-content: space-between;
                padding: 0px 20px;
                & .btn{
                    min-width: 150px;
                    margin-right: 0px;
                    font-size: 12px;
                }
            }
        }
    }
    .promotion-area{
        padding: 5px;
        &-title{
            margin-bottom: 20px;
        }
        &-desc{
            font-size: 16px;
            line-height: 21px;
            width: 95%;
            padding-bottom: 15px;
        }
    }
    .picture-area{
        padding-bottom: 100px;
        &-title{
        font-size: 24px;
        margin-top: 100px;
        }
        & .picture{
            width: 100% !important;
            height: 100% !important;
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 576px) and (max-width:992px) {
    .container{
        width: 740px;
    }
    .showcase-area{
        height: 100%;
        padding-bottom: 150px;
        & .header{
            padding: 10px;
        }
    }
    .picture-area{
        padding-bottom: 100px;
        &-title{
            margin-top: 100px;
        }
        & .pictures{
            gap: 20px;
            & .picture{
                width: 30% !important;
                height: 30% !important;
                margin-bottom: 20px;
            }
        }
    }
}